*{
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}

h1,h2{
     text-align: center;
     color:red;
     font-weight:600;
}

img{
    height:auto;
    width:100%;
}